<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Event</th>
      <th>Artist</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {{#each venue.events}}
      <tr>
        <td>
          {{event}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          {{date}}
        </td>
        <td>
          {{time}}
        </td>
          <a href="/venue/{{../venue._id}}/deleteevent/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
      </tr>
    {{/each}}
  </tbody>
</table>